<h2><%= answer.answer_text %></h2>
<ul>
  <li>by: <%= answer.poster.username %></li>
  <p>Plus votes: <%= answer.positive_vote_count %></p>
  <p>Negative votes: <%= answer.negative_vote_count %></p>
  <p>Total votes: <%= answer.total_vote_count %></p>

  <% answer.comments.each do |comment| %>
  <li> <%= comment.comment_text %></li>
  <li> by: <%= comment.poster.username %></li>
  <% end %>
</ul>
  <div>
    <% if current_user %>
      <button id="new_comment_button" class="new-comment-button button center">New Comment</button>
      <p>FORM DOES NOT WORK YET!!! THIS IS A COMMENT!</p>
      <form action="/comments/new" method="post" id="new_comment_form">
        <label for="comment_text">Comment:<br></label>
        <textarea id="comment_text" name="comment_text"></textarea><br>
        <input type="hidden" value="<%= answer.id%>" name="answer_id">
        <input type="submit" class="button" value="Submit Comment">
      </form>
    <% end %>
  </div>

