<div id="question-container">
  <h1><%= @question.question_text %></h1>
      <form id="question-up-vote" method="post" action='/questions/<%= @question.id %>/votes'>
        <button type="submit" name="submit"></button>
      </form>

      <%= erb :'questions/_display_question_vote_count', locals: {question: @question} %>

      <form id="question-down-vote" method="post" action='/questions/<%= @question.id %>/votes'>
        <button type="submit" name="submit"></button>
      </form>
  <% if authorized?(@question.poster) %>
    <p> <a href="/questions/<%= @question.id %>/edit"> Edit Your Question </a></p>
    <p> <form action="/questions/<%= @question.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Your Question">
    </form>
    </p>
  <% end %>
  <ul class="question">
  <% @question.comments.each do |comment| %>
    <%= erb :'questions/_display_new_comment', locals: {comment: comment} %>
  <% end %>
  </ul>
  <%= erb :'questions/_display_question_comment_button', locals: {question: @question} %>

<article>
    <% @question.answers.each do |answer| %>
        <%= erb :'questions/_display_answer', locals: {answer: answer} %>

        <%= erb :'questions/_display_answer_comment_button', locals: {answer: answer} %>
    <% end %>
  </article>
</div>
<div>
  <% if current_user %>
  <button id="new_answer_button" class="new-answer-button button center">New Answer</button>
        <form action="/answers/new" method="post" id="new_answer_form">
          <label for="answer_text">Answer:<br></label>
          <textarea id="answer_text" name="answer_text"></textarea><br>
          <input type="hidden" value="<%= @question.id%>" name="question_id">
          <input type="submit" class="button" value="Submit Answer"></input>
        </form>
  <% end %>
</div>
