<div>
  <h1><%= @question.question_text %></h1>
  <p>Plus votes: <%= @question.positive_vote_count %></p>
  <p>Negative votes: <%= @question.negative_vote_count %></p>
  <p>Total votes: <%= @question.total_vote_count %></p>

<div id="topic" class="upvote">
    <a class="upvote"></a>
    <span class="count">0</span>
    <a class="downvote"></a>
    <a class="star"></a>
</div>

<div id="topic" class="upvote">
    <a class="upvote upvote-on"></a>
    <span class="count">6</span>
    <a class="downvote"></a>
    <a class="star"></a>
</div>

<div id="topic" class="upvote">
    <a class="upvote"></a>
    <span class="count">4</span>
    <a class="downvote downvote-on"></a>
    <a class="star"></a>
</div>

<div id="topic" class="upvote">
    <a class="upvote"></a>
    <span class="count">5</span>
    <a class="downvote"></a>
    <a class="star star-on"></a>
</div>

  <ul class="question">
  <% @question.comments.each do |comment| %>
    <%= erb :'questions/_display_new_comment', locals: {comment: comment} %>
  <% end %>
  </ul>
  <%= erb :'questions/_display_question_comment_button', locals: {question: @question} %>

<article>
    <% @question.answers.each do |answer| %>
      <form id="question-vote" method="post" action='/questions/<%= @question.id %>'>
        <button type="submit" name="submit"></button>
      </form>
        <%= erb :'questions/_display_answer', locals: {answer: answer} %>
        <%= erb :'questions/_display_answer_comment_button', locals: {answer: answer} %>
    <% end %>
  </article>
</div>
<div>
  <% if current_user %>
  <button id="new_answer_button" class="new-answer-button button center">New Answer</button>
        <form action="/answers/new" method="post" id="new_answer_form">
          <label for="answer_text">Answer:<br></label>
          <textarea id="answer_text" name="answer_text"></textarea><br>
          <input type="hidden" value="<%= @question.id%>" name="question_id">
          <input type="submit" class="button" value="Submit Answer"></input>
        </form>
  <% end %>
</div>


