<center class="profile-stuff"><h3>Profile Page</h3>

<h4><%= @user.username %>'s Questions</h4>

<% if @user.questions.any? %>
<ul>
  <% @user.questions.each do |question|%>
  <li><a href="/questions/<%= question.id %>"><%= question.question_text %></a><br>
  Last edited: <%= question.updated_at %>
  </li><br>
  <% end %>
</ul>
<% else %>
  <p>This user hasn't created any questions</p>
<% end %>

<h4><%= @user.username %>'s Answers</h4>

<% if @user.answers.any? %>
<ul>
  <% @user.answers.each do |answer|%>
  <li><a href="/questions/<%= answer.question.id %>"><%= answer.question.question_text %></a><br>
  <%= answer.answer_text %><br>
  Last edited: <%= answer.updated_at %>
  </li>
  <br>
  <% end %>
</ul>
<% else %>
  <p>This user hasn't created any answers</p>
<% end %>

<h4><%= @user.username %>'s Comments</h4>

<% if @user.comments.any? %>
<ul>
  <% @user.comments.each do |comment|%>
    <% if comment.commentable_type == "Question" %>
      <li><a href="/questions/<%= comment.commentable.id %>"><%= comment.commentable.question_text %></a><br>
      <%= comment.comment_text %><br>
      Last edited: <%= comment.updated_at %>
      </li>
    <% else %>
      <li><a href="/questions/<%= comment.commentable.question.id %>"><%= comment.commentable.question.question_text %></a><br>
      <%= comment.commentable.answer_text %><br>
      <%= comment.comment_text %><br>
      Last edited: <%= comment.updated_at %>
      </li>
    <% end %>
    <br>
  <% end %>
</ul>
<% else %>
  <p>This user hasn't created any comments</p>
<% end %>

<h4><%= @user.username %>'s Votes</h4>

<% if @user.votes.any? %>
<ul>
  <% @user.votes.each do |vote|%>
    <% if vote.votable_type == "Question" %>
      <li><a href="/questions/<%= vote.votable.id %>"><%= vote.votable.question_text %></a><br>
      <% if vote.up_down_vote == 1 %>
        UP VOTE<br>
      <% else %>
        DOWN VOTE<br>
      <% end %>
      Last edited: <%= vote.updated_at.strftime('%B %d, %Y') %>
      </li>
    <% else %>
      <li><a href="/questions/<%= vote.votable.question.id %>"><%= vote.votable.question.question_text %></a><br>
      <%= vote.votable.answer_text %><br>
      <% if vote.up_down_vote == 1 %>
        UP VOTE<br>
      <% else %>
        DOWN VOTE<br>
      <% end %>
      Last edited: <%= vote.updated_at.strftime('%B %d, %Y') %>
      </li>
    <% end %>
    <br>
  <% end %>
</ul>
<% else %>
  <p>This user hasn't voted on anything</p>
<% end %>
</center>
